/* .p{
    color:black
}


.background {
    position: relative;
    width: 40%;
    height: auto;
    overflow: hidden;
    margin-left: 50px;
    padding-bottom: 300px;
}
.divs_lado_a_lado {
    display: flex;
    justify-content: space-around;
}
.fundo_azul{
    background-color: lightblue;
    margin:0;
    padding:0;
}
.background-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container{
    width:30%;
    float: right;
}

h3{
    font-family: 'Quicksand', sans-serif;
} */
